{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
{% csrf_token %}
<div class="container">
  <div class="page-header">
    <h1 class="descr">42 Coffee Cups Test Assignment</h1>
      <div class="jumbotron">
        <h2 class="requests"></h2>
          <div class="panel panel-default">
            <table class="table">
		<tr>
		<th>Date</th>
		<th>Method</th>
		<th>Path</th>
		<th>Server Protocol</th>
		<th>IP</th>
		</tr>

              <tbody class="requestsTable">
{% for request in ten_request %}
		{% if not request.viewed %}
		  <tr class="bold-font">
		{% else %}
		  <tr>
		{% endif %}
                <td>{{ request.date }}</td>
                <td>{{ request.method }}</td>
                <td>{{ request.path }}</td>
                <td>{{ request.server_protocol }}</td>
                <td>{{ request.ip_addr }}</td>
                </tr>
{% endfor %}

              </tbody>
            </table>
      </div>
  </div>
<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>
<a href="{% url 'index' %}">home</a>
</div>
{% endblock content %}
